{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Spell Checker{% endblock %}

{% block page_header %}
{% endblock %}

{% block body_block %}

    <form id="search_form" role="form" method="get" action="{% url 'checker.index' %}">

        <div class="input-group">
            <input type="text" id="word" name="word" class="form-control"
                   placeholder="Please input your words" value="{{ word }}" autocomplete="on"
                   maxlength="64" tabindex="1" width="570px"/>

            <span class="input-group-btn">
                <input type="submit" id="check_button" class="btn btn-default" value="Check"/>
            </span>
        </div>
        <br/>

    </form>

    <div id="search_result">

        {% if word %}
        {% if corrections %}

        <div class="list-group">

            {% for p in corrections %}
            <span class="list-group-item">
                <p class="list-group-item-text">{{ p }}</p>
            </span>
            {% endfor %}
        </div>
        {% else %}
            <div>No words found.</div>
        {% endif %}
        {% endif %}
    </div>

{% endblock %}
